body { background: #1756da; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 44px; display: flex; }
.block-email-0 { color: #ed2916; font-size: 19px; margin-bottom: 5px; }
.block-product-1 { color: #16c6af; font-size: 14px; margin-bottom: 5px; }
.block-shipping-2 { color: #67029d; font-size: 18px; margin-bottom: 5px; }
.block-email-3 { color: #75ec01; font-size: 16px; margin-bottom: 5px; }
.block-shipping-4 { color: #68d7a7; font-size: 17px; margin-bottom: 5px; }
.block-cache-5 { color: #879792; font-size: 12px; margin-bottom: 5px; }
.block-notify-6 { color: #c7df45; font-size: 16px; margin-bottom: 5px; }
.block-email-7 { color: #308ae2; font-size: 16px; margin-bottom: 5px; }